
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="contact.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="fcf-body">
            <div id="fcf-form">
                <h2 class="fcf-h3">Get in touch 🙂 </h2>
                <form id="contact-form" class="fcf-form-class" method="post" action="contact-form-process.css">
                    <div class="fcf-form-group">
                        <label for="name" class="fcf-label">Your name</label>
                        <div class="fcf-input-group">
                            <input type="text" id="name" name="name" class="fcf-form-control" required>
                        </div>
                    </div>
                    <div class="fcf-form-group">
                        <label for="email" class="fcf-label">Your email address</label>
                        <div class="fcf-input-group">
                            <input type="email" id="email" name="email" class="fcf-form-control" required>
                        </div>
                    </div>
                    <div class="fcf-form-group">
                        <label for="message" class="fcf-label">Your message</label>
                        <div class="fcf-input-group">
                            <textarea id="message" name="message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
                        </div>
                    </div>
                    <div class="fcf-form-group">
                        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        <main>
            <div class="contact-info-container">
                <section class="contact-info">
                    <h2>Contact Us:</h2>
                    <p>If you have any questions or inquiries, feel free to contact us:</p>
                    <ul>
                        <li><i class="fa fa-envelope"></i><strong>Email:</strong> green_t3ch&#64;gmail.com</li>
                        <li><i class="fa fa-phone"></i><strong> Phone:</strong> +40 235 823 129</li>
                        <li><i class="fa fa-map-marker"></i><strong> Address:</strong> Romania, BRASOV, Str. Green Street, Nr. 123, Coresi Complex 721</li>
                    </ul>
                </section>
            </div>
        </main>
    </div>
    <div class="parallax"></div>
</body>
